body{
   @media (min-width: 768px) and (max-width: 990px){

 background-image: url(fondo1.png);
     background-position: center center;
     background-repeat no-repeat;
     background-size: cover;
     background-attachment:  fixed;
 .pollito{
      width: 400px; 
      margin-top:1px;
      margin-left: 200px;
}  



}
}
