
body{ background-image: url(fondo1.png);
     background-position: center center;
     background-repeat no-repeat;
     background-size: cover;
     background-attachment:  fixed;
     image-resolution:none;
  
.inicio{ 
    width: 1000px; 
    font-family: Arial, Helvetica, sans-serif;
     font-size: 50px; 
    position: relative;
    left: 100px;
    top:200px;
    font-family: fantasy;
    color: rgb(255, 255, 255);
    text-align:center;
     align-items: center;
      justify-content: center;
   
 

}


 .pollito{
      position: relative;
      width: 700px; 
      top:100px;
      left:170px;
      image-resolution: ;              
      -ms-flex-align: center;
      align-items: center;
      justify-content: center;
      }
.foto2{
    width: 100px;    
    position: absolute;
    top: 0px;
    left: 300px;
    image-resolution:none;
     }
.yes{ color: rgb(8, 118, 186);
    width: 1200px; 
    position: relative; 
    text-align: center;
    top: 200px;
    left: 100px;
     justify-content: center;
     background-image: url(babymetal.webp);
     border: 2px solid black ;
     border-radius: 50px;
     cursor: pointer;
     padding: 15px;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     font-style: italic; 
   
    
     transition: 5s ease;
    }
    .yes:hover {
        background-image: url(abrazopollo.gif);

    }
    
.no{ color: rgb(8, 118, 186);
    width: 1200px; 
    position: relative; 
    text-align: center;
    top:200px;
    left: 200px;
    justify-content: center;
    background-image: url(babymetal.webp);
    border: 2px solid black ;
    border-radius: 50px;
    cursor: pointer;
    padding: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic; 
    
    }

    .no:hover{ background-image: url(abrazopollo.gif);
         
    }
.nampa{ 
    position: relative; 
    text-align: center;
    width: 200px;
    position: absolute;
    top: 1000px;
    left: 250px;

   }

}
