body{ background-image: url(fondo1.png);
     background-position: center center;
     background-repeat no-repeat;
     background-size: cover;
     background-attachment:  fixed;
     image-resolution: @media (max-width: 767px);

  


 .pollito{
      width: 100px; 
      margin-top:1px;
      margin-left: 45%;
      image-resolution: @media (max-width: 767px);
      }
.foto2{
    width: 50px;    
    position: absolute;
    top: 0;
    left: 270px;
    image-resolution: @media (max-width: 767px);
}
