body{ background-image: url(fondo1.png);
     background-position: center center;
     background-repeat no-repeat;
     background-size: cover;
     background-attachment:  fixed;
     image-resolution:none;
 @media(min-width: 768px) and (max-width: 990px)
  
.inicio{   
    position: relative;
    left: 400px;
    top:5px;
    font-family: fantasy;
    color: rgb(7, 7, 7);
    text-align:center;
   
 

}


 .pollito{
      position: relative;
      width: 600px; 
      top:100px;
      left: 100px;
      image-resolution: none;
      }
.foto2{
    width: 50px;    
    position: absolute;
    top: 0px;
    left: 50px;
    image-resolution:none;
     }
.yes{ color: rgb(8, 118, 186);
    width: 100px; 
    position: relative; 
    text-align: center;
    top:100px;
    left: 100px;
     justify-content: center;
     background-image: url(babymetal.webp);
     border: 2px solid black ;
     border-radius: 50px;
     cursor: pointer;
     padding: 25px;
    text-decoration: none;
   
    
     transition: 5s ease;
    }
    .yes:hover {
        background-image: url(abrazopollo.gif);

    }
    
.no{ color: rgb(8, 118, 186);
    width: 100px; 
    position: relative; 
    text-align: center;
    top:100px;
    left: 100px;
    justify-content: center;
    background-image: url(babymetal.webp);
    border: 2px solid black ;
    border-radius: 50px;
    cursor: pointer;
    padding: 25px;
    text-decoration: none;
    
    }

    .no:hover{ background-image: url(abrazopollo.gif);
         
    }
.nampa{ 
    position: relative; 
    text-align: center;
    width: 200px;
    position: absolute;
    top: 500px;
    left: 245px;

   }

}
